#carouselExampleCaptions{
    height: 400px;
    width: 700px;
    object-fit: cover;
    margin: 35px;
}

.carousel-item img{
    height: 450px;
    width: 700px;
    object-fit: cover;
}

.info-web{
    text-align: justify;
    padding: 20px;
    padding-right: 50px;
}

div .daftar-tempat-home{
    border: 1px solid black;
    background-color: tomato;
    margin: auto;
}

.card{
    margin-top: 70px;
    margin-left: 95px;
}

.card-body{
    text-align: center;
}

.see-more{
    height: 50px;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
}

.closing-home{
    height: 200px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}