#carouselExampleCaptions{
    height: 300px;
    width: 450px;
    object-fit: cover;
    margin: auto;
}

.carousel-item img{
    height: 300px;
    width: 450px;
    object-fit: cover;
}

.info-web{
    text-align: justify;
    padding-right: 100px;
    padding-top: 10px;
    align-content: first baseline;
}

.link{
    color: rgb(37, 132, 37);
    text-decoration: none;
    display: inline-block;
    padding: 6 12px;
    border-radius: 10px;
}

div .daftar-tempat-home{
    border: 1px solid black;
    background-color: tomato;
    margin: auto;
}

.card{
    margin-left: 40px;
}

.card-body{
    text-align: center;
}

.see-more{
    height: 50px;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(37, 132, 37);
    text-decoration: none;
    display: inline-block;
    padding: 6 12px;
    border-radius: 10px;
}

.see-more:hover{
    background-color: rgba(37, 132, 37, 0.16);
    border-radius: 20px;
}

.closing-home{
    display: block;
    height: 200px;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 132, 37);
}