body {
    background: #f8faf9;
    font-family: "Poppins", sans-serif;
}

/* WIDTH CONTROL */
.central-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 16px;
}

/* TITLE */
.title-green {
    color: #2e7d32;
}

.intro-text {
    max-width: 800px;
    margin: auto;
    color: #555;
}

/* IMAGE CARD */
.img-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 18px;
}

/* DETAIL CARD */
.detail-card {
    background: white;
    border-radius: 18px;
}

.detail-card .label {
    color: #2e7d32;
}

.desc {
    color: #555;
}

/* STATUS COLORS */
.status-available {
    color: #2e7d32;
    font-weight: 600;
}
.status-unavailable {
    color: #d62828;
    font-weight: 600;
}

/* BUTTON */
.btn-green {
    background-color: #2e7d32;
    color: white;
    font-weight: 500;
    border-radius: 12px;
}
.btn-green:hover {
    background-color: #246528;
}

/* FOOTER */
.footer-green {
    background-color: #2e7d32;
}
