body {
    background: #f8faf9;
    font-family: "Poppins", sans-serif;
}

/* WIDTH */
.central-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 16px;
}

/* TITLE */
.title-green {
    color: #2e7d32;
}

.intro-text {
    max-width: 800px;
    margin: auto;
    color: #555;
}

/* MAP CARD */
.map-card {
    background: white;
    border-radius: 18px;
}

/* MAP FRAME */
.map-frame {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 14px;
}

/* DESCRIPTION */
.location-desc {
    color: #444;
    font-size: 15px;
}

/* FOOTER */
.footer-green {
    background-color: #2e7d32;
}
