body {
    background: #f8faf9;
    font-family: "Poppins", sans-serif;
}

/* GLOBAL WIDTH */
.central-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 16px;
}

.title-green {
    color: #2e7d32;
}

/* IMAGE BOX */
.detail-img-wrap img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 16px;
}

/* DETAIL CARD */
.detail-info {
    background: white;
    border-radius: 16px;
}

.detail-info .label {
    color: #2e7d32;
}

.status-available {
    color: #2e7d32;
    font-weight: 600;
}

.status-unavailable {
    color: #d62828;
    font-weight: 600;
}

/* BUTTON */
.btn-green {
    background-color: #2e7d32;
    color: white;
    border-radius: 12px;
    font-weight: 500;
}
.btn-green:hover {
    background-color: #246528;
}

/* SCHEDULE BOX */
.schedule-box {
    background: white;
    border-radius: 14px;
}

/* FOOTER */
.footer-green {
    background-color: #2e7d32;
}
